{% extends 'base.html' %}

{% block content %}

<div class='header-isi'>
<h1 style='margin-bottom:0;color:#FFFFFF;text-align:center;font-family:montserrat;'><b>Arcaders+</b></h1>
</div> 

<h3><font size='5' face='montserrat'>Administrator: </font></h3>
<p style='background-color:rgba(74,166,247,0.5); padding:10px;' > <font size='4' color='white' face='montserrat'> {{ name }} </font><p>

<h4><font size='4' face='montserrat'>Class: </font></h4>
<p style='background-color:rgba(74,166,247,0.5); padding:10px;' > <font size='4' color='white' face='montserrat'> {{ class }} </font><p>

<h4><font size='4' face='montserrat'>Student ID: </font></h4>
<p style='background-color:rgba(74,166,247,0.5); padding:10px;' > <font size='4' color='white' face='montserrat'> {{ NPM }} </font><p>

{% if products %}
    <p><font size='4' color='black' face='montserrat'>There {{ verb }} currently {{ num_products }} kind{{ pluralize }} of game{{ pluralize }} in stock.</font></p>
{% endif %}


<table align='center' cellpadding='10' cellspacing='10' bgcolor='#4aa7f7'>
    <tr align='center'>
        <th><font face='montserrat' size='4'><b>Title</b></font></th>
        <th><font face='montserrat' size='4'><b>Stock</b></font></th>
        <th><font face='montserrat' size='4'><b>Description</b></font></th>
    </tr>

    {% for product in products %}
        <tr align='center'>
            <td><font face='montserrat' size='4'>{{product.name}}</font></td>
            <td><font face='montserrat' size='4'>{{product.amount}}</font></td>
            <td><font face='montserrat' size='4'>{{product.description}}</font></td>
        </tr>
    {% endfor %}
</table>

<br />

<div class="container">
    <div class="center">
        <button class="tombol" ><a class = "hub" href="{% url 'main:create_product' %}">Add New Game</a></button>
    </div>
</div>
{% endblock content %}